.errorContainer {
  padding: 20px;
  background-color: #ffdddd;
  color: #d8000c;
  border: 1px solid #d8000c;
  border-radius: 4px;
  text-align: center;
  margin: 20px 0;
}

.errorMessage {
  margin: 0 0 30px 0;
}

