.layout {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $primary-bg-color;
  grid-template-areas:
    'header'
    'content'
}

.main {
  grid-area: content;
  max-width: 100vw;
}
