input {
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  background-color: $tertiary-bg-color;
  border-radius: 4px;
  font-size: $fs-s;
  font-family: "Jost", sans-serif;

  &::placeholder {
    color: $tertiary-text-color;
    font-size: $fs-s;
  }

  &:focus {
    outline: none;
  }
}
