.container {
  max-width: 1440px;
  padding: 48px 130px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(300px, 520px) 1fr;
  gap: 40px;
}

.productDescription {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@include respond-to-lg-max {
  .container {
    padding: 48px 30px;
    justify-content: center;
    grid-template-columns: minmax(300px, 420px) 1fr;
  }
}

@include respond-to-md-max {
  .container {
    justify-content: center;
    grid-template-columns: minmax(300px, 1fr);
  }
}

@include respond-to-s-max {
  .container {
    padding: 20px 10px;
  }
}
