.header {
  grid-area: 'header';
  background-color: $secondary-color;
}

.wrapper {
  max-width: 1440px;
  padding: 0 130px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
