.about {
  background-color: $secondary-color;
}

.wrapper {
  max-width: 1440px;
  padding: 115px 130px 177px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.divider {
  width: 100%;
  max-width: 1180px;
  border-top: 1px solid $border-color;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.h1 {
  position: absolute;
  top: 40px;
  left: 175px;
  font-weight: 700;
  line-height: 1;
  font-size: 200px;
  color: rgba(255, 255, 255, 0.12);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.h2 {
  font-size: $fs-xxxl;
  font-weight: 400;
  margin: 0;
  line-height: 1.4;
  max-width: 570px;
  color: $secondary-text-color;
}

.description {
  font-size: $fs-s;
  margin: 30px 0;
  line-height: 1.5;
  max-width: 350px;
  font-weight: 600;
  color: $secondary-text-color;
}

@include respond-to-lg-max {
  .wrapper {
    padding: 115px 30px 177px;
  }

  .divider {
    width: calc(100% - 60px);
  }

  .h1 {
    font-size: 150px;
    top: 110px;
    left: 100px;
  }
}

@include respond-to-md-max {
  .wrapper {
    padding: 50px 30px 120px;
  }

  .h1 {
    font-size: 100px;
    top: 120px;
    left: 160px;
  }
}

@include respond-to-sm-max {
  .wrapper {
    padding: 50px 30px 120px;
  }

  .h1 {
    font-size: 50px;
    top: 150px;
    left: 100px;
  }
}

@include respond-to-s-max {
  .wrapper {
    padding: 50px 10px 120px;
  }

  .divider {
    width: calc(100% - 20px);
  }

  .h1 {
    font-size: 40px;
    top: 170px;
    left: 50px;
  }
}
