@import './assets/styles/normolize';
@import './assets/styles/variables';
@import './assets/styles/fonts';

:root {
}

* {
  box-sizing: border-box; 
}

body {
  font-family: 'Jost', sans-serif;
  margin: 0;
}
