// Primary Colors
$primary-color: #F14F4F;
$primary-hover-color: #8C2828;
$primary-disabled-color: #F8AFAF;

// Secondary Colors
$secondary-color: #484283;

// Background Colors
$primary-background-color: #FFFFFF;
$secondary-background-color: #444B58;
$tertiary-background-color: #F6F6F6;

// Text Colors
$primary-text-color: #444B58;
$secondary-text-color: #FFFFFF;
$tertiary-text-color: #B2B5BB;

// Border Colors
$border-color: #E5E5E5;
