.layout {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto 90px;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $primary-bg-color;
  grid-template-areas:
    'header'
    'content'
    'menu';
}

.main {
  grid-area: 'content';
  max-width: 100vw;
}

